recursive-include lucterios/CORE *
recursive-include lucterios/framework *
recursive-include lucterios/install *
recursive-exclude lucterios/CORE/__pycache__ *
recursive-exclude lucterios/framework/__pycache__ *
recursive-exclude lucterios/install/__pycache__ *
