body {
	font-size: 0.8em;
}

bold {
	font-weight: bold;
}

underline {
	text-decoration: underline;
}

italic {
	font-style: italic;
}

#lucteriosClient {
	width: 1220px;
	height: 600px;
	display: block;
	margin: auto;
}

#status {
	width: 1212px;
	top: 0px;
	position: fixed;
	margin: 5px;
}

#status img {
	margin: 0px 0px 0px 10px;
}

#status label {
	width: 150px;
	text-align: center;
	margin: 5px 50px 5px 50px;
	height: 15px;
	vertical-align: middle;
	position: relative;
	top: -25px;
}

#status a img {
	margin: 5px;
	vertical-align: middle;
	position: relative;
	top: -25px;
}

.tabContent table img {
	width: initial;
}

#mainMenu {
	top: 90px;
	position: fixed;
	height: 545px;
	width: 1212px;
	margin: 5px;
}

#asideMenu {
	min-height: 500px;
	width: 300px;
	margin-left: 5px;
}

#menuContainer {
	margin-left: 0px;
	margin-top: 0px;
}

#menuContainer div.tabContent {
	height: 535px;
	width: 98%;
	margin-left: 1%;
	min-width: 780px;
}

#menuContainer .ui-tabs-panel button {
	font-size: 0.8em;
	height: 80px;
	margin: 5px;
	vertical-align: middle;
	width: 350px;
}

#menuContainer .ui-tabs-panel button img {
	width: 24px;
}

#mainMenu .vsplitter {
	margin-left: 7px;
	width: 6px;
	cursor: e-resize;
	z-index: 10;
}

#support {
	position: absolute;
	bottom: 0px;
	margin: 0px 450px 3% 450px;
	width: 350px;
	display: block;
	background-color: white;
	padding: 5px;
}

.menuFrame {
	width: 90%;
	text-align: center;
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.ui-tabs img {
	margin-right: 5px;
	width: 20px;
}

.ui-tabs-panel {
	max-height: 400px;
	overflow: auto;
}

.ui-tabs-panel h3 {
	font-size: 0.8em;
}

.ui-dialog .ui-dialog-titlebar-refresh {
	position: absolute;
	right: 1.7em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px
}

label {
	display: inline-block;
	font-size: 0.8em;
}

.class_header {
	cursor: pointer;
}

.class_controle {
	font-size: 0.8em;
}

.class_checknull {
	cursor: pointer;
	border-radius: 4px;
}

/* end .roundedOne */
button {
	width: 170px
}

button>span>img {
	margin: 0em 0.4em 0.0em 0px;
	max-height: 24px;
}

.grid {
	min-height: 200px;
	width: 100%;
}

.gridContent {
	border: 1px solid;
	vertical-align: top;
	display: block;
	max-height: 250px;
	overflow-y: auto;
}

.gridContent table {
	width: 100%;
}

.gridContent table thead {
	background-color: #CCC;
}

.gridContent table thead th {
	font-size: 0.8em;
	padding: 0px 5px 0px 5px;
}

.gridContent tbody tr:hover {
	background-color: #dee;
}

.gridContent tbody tr.selected {
	background-color: #DDD;
}

.gridContent tbody td {
	font-size: 0.8em;
}

.gridActions {
	background-color: #CCC;
	border: 1px solid;
	padding: 5px;
	text-align: center;
	vertical-align: top;
	width: 150px;
}

.gridActions button {
	font-size: 0.8em;
	height: 25px;
	margin-bottom: 3px;
}

.gridActions button img {
	width: 15px;
	margin: 0em 0.4em 0.0em 0px;
}

.grid select {
	font-size: 0.8em;
	height: 25px;
	margin-bottom: 3px;
	width: 170px;
}

.waiting {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(200, 200, 200, .8) url('../images/wait.gif') 50% 50%
		no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .waiting {
	display: block;
}

img.memobtn {
	margin: 2px 2px 0px 2px;
}