body {
	font-size: 0.8em;
}

bold {
	font-weight: bold;
}

underline {
	text-decoration: underline;
}

italic {
	font-style: italic;
}

#lucteriosClient { /*width: 1220px;
	height: 600px;
	display: block;
	margin: auto;*/
	
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome-webfont.eot?v=4.2.0');
	src: url('fontawesome-webfont.eot?#iefix&v=4.2.0')
		format('embedded-opentype'), url('fontawesome-webfont.woff?v=4.2.0')
		format('woff'), url('fontawesome-webfont.ttf?v=4.2.0')
		format('truetype'),
		url('fontawesome-webfont.svg?v=4.2.0#fontawesomeregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 1px 3px 1px 2px;
}

.fa-refresh:before {
	content: "\f021";
}

.fa-logon:before {
	content: "\f011";
}

.fa-about:before {
	content: "\f05A";
}

.fa-help:before {
	content: "\f059";
}

.fa-menu:before {
	content: "\f022";
}

#status {
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background-color: black;
	position: fixed;
}

#showmenu {
	color: white;
	margin: 0px 0px 0px 10px;
	top: 13px;
	width: 60px;
	background: transparent;
	padding: 4px;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	padding: 6px;
	box-sizing: border-box;
	display: none;
	position: relative;
	float: left;
}

#statususer {
	margin: 0px 0px 0px 30px;
	color: white;
	top: -18px;
	position: relative;
}

#status img {
	margin: 0px 0px 0px 10px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.header-right label {
	width: 150px;
	color: white;
	background: transparent;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	margin: 15px 3px 0px 3px;
	padding: 4px;
	box-sizing: border-box;
}

.tabContent table img {
	width: initial;
}

.tabContent ul {
	background-color: transparent;
	background-image: none;
	border: 0px;
}

.tabContent ul li {
	margin-right: 10px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#mainMenu {
	top: 50px;
	position: fixed;
	width: 100%;
	left: 0px;
}

#asideMenu {
	min-height: 500px;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.asideprop {
	display: block;
}

#menuContainer {
	margin-left: 0px;
	margin-top: 0px;
	position: absolute;
	top: 0px;
	left: 300px;
	right: 0px;
}

#menuContainer div.tabContent {
	height: 535px;
	margin-top: 2px;
	background-color: transparent;
	background-image: none;
	border: 0px;
}

#menuContainer .ui-tabs-panel button {
	font-size: 0.8em;
	height: 80px;
	margin: 5px;
	vertical-align: middle;
	width: 350px;
}

#menuContainer .ui-tabs-panel button img {
	width: 24px;
}

#support {
	position: absolute;
	width: 290px;
	background-color: white;
	padding: 5px;
	left: 0px;
	top: 540px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

@media screen and (max-width: 1000px) {
	.header-left {
		float: none;
	}
	.header-right {
		float: none;
		margin-bottom: 7px;
	}
	#showmenu {
		display: block;
	}
	.asideprop {
		display: none;
	}
	#support {
		left: -400px;
		top: -500px;
	}
	#menuContainer {
		left: 0px;
	}
	#mainMenu {
		top: 100px;
	}
	#asideMenu {
		z-index: 100;
		top: 10px;
		left: 10px;
	}
}

@media screen and (max-width: 623px) {
	#status span[name="headertle"] {
		display:none;
	}
	#showmenu {
		width:auto;
	}
	.header-right label {
		width:auto;
	}
	.header-left {
		float: left;
	}
	.header-right {
    	float: right;
	}
	#statususer {
		display:none;
	}
	#mainMenu {
		top: 50px;
	}
	.ui-tabs-anchor span {
		display:none;
	}
}

@media screen and (max-height: 690px) {
	#support {
		left: -400px;
		top: -500px;
	}
}

@media screen and (max-width: 410px) {
	.ui-tabs div[role="tabpanel"].ui-tabs-panel {
		padding: 1em 0em;
	}
	#menuContainer .ui-tabs-panel button {
	    width: 97%;
	}	
}

.menuFrame {
	width: 90%;
	text-align: center;
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.ui-tabs img {
	margin-right: 5px;
	width: 20px;
}

.ui-tabs-panel {
	max-height: 400px;
	overflow: auto;
}

.ui-tabs-panel h3 {
	font-size: 0.8em;
}

.ui-dialog .ui-dialog-titlebar-refresh {
	position: absolute;
	right: 1.7em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px
}

label {
	display: inline-block;
	font-size: 0.8em;
}

.class_header {
	cursor: pointer;
}

.class_controle {
	font-size: 0.8em;
}

.class_checknull {
	cursor: pointer;
	border-radius: 4px;
}

/* end .roundedOne */
button {
	width: 170px
}

button>span>img {
	margin: 0em 0.4em 0.0em 0px;
	max-height: 24px;
}

.grid {
	min-height: 200px;
	width: 100%;
}

.gridContent {
	border: 1px solid;
	vertical-align: top;
	display: block;
	max-height: 250px;
	overflow-y: auto;
}

.gridContent table {
	width: 100%;
}

.gridContent table thead {
	background-color: #CCC;
}

.gridContent table thead th {
	font-size: 0.8em;
	padding: 0px 5px 0px 5px;
}

.gridContent tbody tr:hover {
	background-color: #dee;
}

.gridContent tbody tr.selected {
	background-color: #DDD;
}

.gridContent tbody td {
	font-size: 0.8em;
}

.gridActions {
	background-color: #CCC;
	border: 1px solid;
	padding: 5px;
	text-align: center;
	vertical-align: top;
	width: 150px;
}

.gridActions button {
	font-size: 0.8em;
	height: 25px;
	margin-bottom: 3px;
}

.gridActions button img {
	width: 15px;
	margin: 0em 0.4em 0.0em 0px;
}

.grid select {
	font-size: 0.8em;
	height: 25px;
	margin-bottom: 3px;
	width: 170px;
}

.waiting {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(200, 200, 200, .8) url('../images/wait.gif') 50% 50%
		no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .waiting {
	display: block;
}

img.memobtn {
	margin: 2px 2px 0px 2px;
}