body {
	font-size: 0.8em;
}

bold {
	font-weight: bold;
}

underline {
	text-decoration: underline;
}

italic {
	font-style: italic;
}

#lucteriosClient {
	
}

#status {
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background-color: black;
	position: fixed;
}

#showmenu {
	color: white;
	margin: 0px 0px 0px 10px;
	top: 13px;
	width: 60px;
	background: transparent;
	padding: 4px;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	padding: 6px;
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
}

#statususer {
	margin: 0px 0px 0px 30px;
	color: white;
	top: -18px;
	position: relative;
}

#status img {
	margin: 0px 0px 0px 10px;
}

#status label {
	display: inline-block;
	font-size: 0.8em;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.header-right label {
	width: 110px;
	color: white;
	background: transparent;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
	margin: 15px 3px 0px 3px;
	padding: 4px;
	box-sizing: border-box;
}

.tabContent table img {
	width: initial;
}

.tabContent ul {
	background-color: transparent;
	background-image: none;
	border: 0px;
}

.tabContent ul li {
	margin-right: 10px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

#mainMenu {
	top: 50px;
	position: fixed;
	width: 100%;
	left: 0px;
}

#asideMenu {
	min-height: 500px;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#asideMenu div {
	padding: 1em 0.5em;
}

.asideprop {
	display: block;
}

#menuContainer {
	margin-left: 0px;
	margin-top: 0px;
	position: absolute;
	top: 0px;
	left: 300px;
	right: 0px;
}

#menuContainer.menupos {
	left: 0px;
}

#menuContainer div.tabContent {
	height: 535px;
	margin-top: 2px;
	background-color: transparent;
	background-image: none;
	border: 0px;
}

#menuContainer .ui-tabs-panel button {
	font-size: 0.8em;
	height: 80px;
	margin: 5px;
	vertical-align: middle;
	width: 350px;
}

#menuContainer .ui-tabs-panel button img {
	width: 24px;
}

#support {
	position: absolute;
	width: 290px;
	background-color: white;
	padding: 5px;
	left: 0px;
	top: 540px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

@media screen and (max-width: 1000px) {
	.header-right {
		margin-bottom: 7px;
	}
	.asideprop {
		display: none;
	}
	#support {
		left: -400px;
		top: -500px;
	}
	#menuContainer {
		left: 0px;
	}
	#mainMenu {
		top: 100px;
	}
	#asideMenu {
		z-index: 100;
		top: 10px;
		left: 10px;
	}
}

@media screen and (max-width: 623px) {
	#status span[name="headertle"] {
		display: none;
	}
	#showmenu {
		width: auto;
	}
	.header-right label {
		width: auto;
	}
	.header-left {
		float: left;
	}
	.header-right {
		float: right;
	}
	#statususer {
		display: none;
	}
	#mainMenu {
		top: 50px;
	}
	.ui-tabs-anchor span {
		display: none;
	}
}

@media screen and (max-height: 690px) {
	#support {
		left: -400px;
		top: -500px;
	}
}

@media screen and (max-width: 410px) {
	.ui-tabs div[role="tabpanel"].ui-tabs-panel {
		padding: 1em 0em;
	}
	#menuContainer .ui-tabs-panel button {
		width: 97%;
	}
}

.menuFrame {
	width: 90%;
	text-align: center;
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.ui-tabs img {
	margin-right: 5px;
	width: 20px;
}

.ui-tabs-panel {
	max-height: 400px;
	overflow: auto;
}

.ui-tabs-panel h3 {
	font-size: 0.8em;
}

.lct-dialog {
	max-width: 98%;
}

.lct-dlgcontent {
	
}

.ui-dialog div.lct-dlgbtnpn {
	text-align: center;
}

.lct-dlgbtnset {
	
}

@media screen and (max-height: 690px) {
	.lct-dlgbtnset {
		float: none;
	}
}

.ui-dialog .ui-dialog-titlebar-refresh {
	position: absolute;
	right: 1.7em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px
}

.class_header {
	cursor: pointer;
}

.class_controle {
	font-size: 0.8em;
}

.class_checknull {
	cursor: pointer;
	border-radius: 4px;
}

/* end .roundedOne */
.lct-dlgbtnset button {
	width: 170px
}

.lctbtn {
	width: 170px;
}

.lctbtnmini {
	width: 32px;
	padding: 0px;
}

.lctbtnmini img {
	position: relative;
	left: -10px;
}

button span img {
	margin: 0em 0.4em 0.0em 0px;
	max-height: 24px;
}

.lct-dlgcontent table tbody tr td {
	padding: 2px;
}

.lct-dlgcontent table tbody tr td label {
	font-weight: bold;
}

@media screen and (max-width:1024px) {
	.lct-dlgcontent table tbody tr td lct-cell {
		width: 100%;
	}
	.lct-dlgcontent table tbody tr td lct-cell label {
		width: 100%;
		display: block;
	}
	.lct-dlgcontent table tbody tr td lct-ctrl {
		width: 100%;
		display: block;
	}
}

@media screen and (min-width:1024px) {
	.lct-dlgcontent table tbody tr td lct-cell {
		display: inline-table;
		width: 100%;
	}
	.lct-dlgcontent table tbody tr td lct-cell label {
		width: 150px;
		display: table-cell;
	}
	.lct-dlgcontent table tbody tr td lct-ctrl {
		display: table-cell;
		vertical-align: middle;
		min-width: 100px;
	}
}

.checklist {
	min-width: 150px;
}

.lctdate {
	width: 74px;
}

.lcttime {
	margin: 5px;
}

.lctdateneeded {
	margin: 5px 0px 5px 0px;
}

.lctcapcha {
	width: 20px;
}

.lctjustify {
	width: 95%;
}

.grid {
	min-height: 200px;
	width: 100%;
}

.gridpager {
	border: 1px solid #cfcfcf;
	background: rgb(211, 211, 211);
	color: #666;
	padding: 5px 0px;
	font-family: Arial;
	font-size: 12px;
	margin: 0px;
	line-height: normal;
	width: 100%;
}

.gridpager button.ui-button-icon-only {
	width: 22px;
	margin-right: 5px;
	padding: 0.4em 0em;
}

div.gridpager span, div.gridpager select {
	margin-right: 5px;
	border-width: 1px;
}

div.gridpager span {
	font-weight: bold;
}

.gridpager input {
	padding: 0px 1px;
	text-align: center;
	width: 35px;
	margin-right: 5px;
	height: 16px;
	border-width: 1px;
}

.gridpager span.gridseparator {
	border-right: 1px solid #fff;
}

.gridContent {
	border: 1px solid #cfcfcf;
	vertical-align: top;
	display: block;
	width: 100%;
	padding: 0px 0px;
}

.gridscroll {
	max-height: 250px;
	overflow-y: auto;
}

.gridContent table {
	width: 100%;
}

.gridContent table thead {
	background-image: linear-gradient(#fefefe,#e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e6e6e6');
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e6e6e6));
	background: -moz-linear-gradient(top,  #fefefe,  #e6e6e6); /* for firefox 3.6+ */
	font-family: Arial;
	font-size: 12px;
	line-height: normal;
	color: #666;
}

.gridContent table thead th {
	overflow: hidden;
	border-right: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	padding: 5px 0px;
}

.gridContent tbody tr.odd {
	background-color: #f0f0f0;
}

.gridContent tbody tr:hover {
	background-color: #a0a0a0;
	color: #fff;
}

.gridContent tbody tr.selected {
	background-color: #d0d0d0;
}

.gridContent tbody tr.selected td { 
	border-top: 1px solid #fff; 
}

.gridempty td {
	text-align: center; 
	padding: 3px;
}

div.gridContent table tbody tr td {
	font-size: 0.8em;
	border-right: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;	
	padding: 4px 2px;
}

.gridActions {
	padding: 2px;
	text-align: center;
	vertical-align: top;
	width: 100%;
	background-color: #EEEEEE;
	border: 1px #cfcfcf solid;
	padding: 0px;
}

.gridActions button {
	display: inline-block;
	width: 140px;
	margin: 2px;
}

.gridActions button img {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.grid select {
	font-size: 0.8em;
	height: 25px;
	margin-bottom: 3px;
	width: 170px;
}

.multiselect {
	display: block;
}

@media screen and (max-width: 623px) {
	.multiselect select {
		min-height: 80px;
		width: 90%;
		margin: 5px;
	}
	.multiselect div {
		width: 90%;
		align-text: center;
	}
	.multiselect div button {
		width: 30px;
		padding: 0px;
		margin: 3px;
	}
}

@media screen and (min-width: 623px) {
	.multiselect lct-checklist {
		display: inline-table;
		width: 100%;
		vertical-align: top;
	}
	.multiselect select {
		display: table-cell;
		min-height: 140px;
		min-width: 160px;
		margin: 5px;
		width: 100%;
	}
	.multiselect div {
		display: table-cell;
		width: 40px;
		vertical-align: top;
	}
	.multiselect div button {
		padding: 0px;
		margin: 5px 5px 5px 15px;
	}
}

.waiting {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(200, 200, 200, .8) url('../images/wait.gif') 50% 50%
		no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .waiting {
	display: block;
}

img.memobtn {
	margin: 2px 2px 0px 2px;
}

.lctjustify table.pq-wrap>tbody>tr>td.pq-grid-cell, .lctjustify table.pq-wrap>tbody>tr>td.pq-grid-col
	{
	word-wrap: normal;
}

#message_before {
	background-color: #DDDDDD;
	margin-top: 15px;
	width: 60%;
	margin-left: 20%;
	padding: 10px;
	text-align: center;
	border: 2px solid black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
